.track {
  display: flex;
  align-items: center;
  padding: 16px 0;


  &__number {
    width: 20px;
    text-align: center;
    margin-right: 40px;

    &-play {
      display: none;
    }
  }

  &__image {
    height: 54px;
    margin-right: 16px;
    border-radius: 12px;
  }
  &__duration {
    margin-left: auto;
  }
}

.track:hover {
  .track__number-play {
    display: block;
    cursor: pointer;
  }
  .track__number-num {
    display: none;
  }

}